<html lang="en">
<head>
  <title>Tweethop</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="http://emojicss.com/emoji.css" rel="stylesheet">

  <style>
    .button {
      display: inline-block;
      background-color: #55acee;
      padding: 22px 40px 19px;
      color: white;
      border-radius: 5px;
    }
    a {
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
    }

    h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-family: 500;
    }
  </style>
<body>
<h1>TweetHop</h1>
<a class="button" href="http://localhost:5000/oauth"><i class="fa fa-twitter" aria-hidden="true" style=""></i> Sign in with Twitter</a>

</body>
</html>
